body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f5f0f0;
}


#app {
    display: flex;
    flex-direction: column;
    align-items: center; /* wyśrodkowanie wertykalne */
    margin-top: 20px; /* margines na górze */
}

canvas#genreChart {
    max-width: 200px; /* maksymalna szerokość wykresu */
    width: 20%; /* szerokość wykresu */
    height: 200px; /* stała wysokość wykresu */
    margin-top: 20px; /* margines na górze */
}

button {
    margin-top: 20px; /* margines na górze */
}
