body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden; /* Zapobiega przewijaniu */
}

#app {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

h1, h2 {
    margin: 0;
}

button {
    margin-top: 20px; /* margines na górze */
}

canvas#genreChart {
    max-width: 600px; /* maksymalna szerokość wykresu */
    width: 100%; /* szerokość wykresu */
    height: 400px; /* stała wysokość wykresu */
    margin-top: 20px; /* margines na górze */
}
